# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Datasets (Too large)
datasets/
data/

# Large Model Weights (>100MB)
models/
*.pt
*.pth
*.h5
*.onnx

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log
